    <footer class="site-footer">
        <div class="site-footer__inner">
            <div class="site-footer__brand">
                <img src="/assets/img/logo-mark.svg" alt="" width="30" height="30">
                <p>{{t:common.footer_tagline}}</p>
            </div>
            <nav class="site-footer__links" aria-label="{{t:common.footer_nav_label}}">
                <a href="{{var:homeUrl}}privacy.html">{{t:common.nav_privacy}}</a>
                <a href="{{var:homeUrl}}terms.html">{{t:common.footer_terms}}</a>
                <a href="{{var:homeUrl}}guidelines.html">{{t:common.footer_guidelines}}</a>
                <a href="{{var:homeUrl}}support.html">{{t:common.nav_support}}</a>
                <a href="mailto:support@motify.uk">{{t:common.footer_contact}}</a>
            </nav>
            <p class="site-footer__legal">{{t:common.footer_copyright}}</p>
        </div>
    </footer>
